{%extends "layout1.html" %}
{% block content%}
    <div id="logreg-forms">
        <form class="form-signin" action="" method="POST">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
           
            <input type="email" id="inputEmail" name = "email" class="form-control" placeholder="Email address" required="" autofocus="">
            <input type="password" id="inputPassword" name = "password" class="form-control" placeholder="Password" required="">
            
            <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>
            <a class = "no-style" href="{{url_for('resetpassword')}}" id="forgot_pswd">Forgot password?</a>
        
            <hr>
             <p>Don't have an account!</p> 
             <a class = "no-style" href="{{url_for('registration')}}" >Register</a>

        </form>
{% endblock content %}