{% extends "layout1.html" %}
{% block content %}
<div id="width-chg">
    <h4 style="text-align: center;padding:20px 0 20px 0">Reset Password</h4>
    <form class="form-signin" action="" method="POST"> 
        {% if flag==0 %}
            <!-- <label for="email" style="color:green">Email</label> -->
            <input type="email" name = "email" class="form-control" required placeholder="Email" >
        {% else %}
        <div class="align">
            <input type="text"  name="otp" class="form-control" required placeholder="otp">
        </div>
        <div class="align">
            <input type="password" name = "password" class="form-control" required placeholder="New Password">
        </div>
        <div class="align">
            <input type="password" name = "confirm_password" class="form-control" required placeholder="Cornfirm Password  ">
            
        </div>
        {% endif %}

        <div class = "next">
            <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> next</button>
        </div>
    </form>
</div>
{% endblock content%}